<!DOCTYPE html>  
<html lang="en">  
  <head>
    <link rel="stylesheet" href="application.css" type="text/css" />
    <title>CLARE'S CLASHING HASH PAGE</title>
  </head>

  <body>


    <h1>HEADER IS SO EXCITING</h1>

    
    <h1>My name is <%= @name %></h1>
    <h1>Another name is <%= @other_name %></h1>

    <p>Here is a very exciting paragraph. I'm sure you are so excited to be reading this paragraph.</p>

    <h1>My name is <%= @name %></h1>
    <% if @show_description %>
      <p>This is my description</p>
    <% end %>

  </body>
<html>