<!DOCTYPE html>  
<html lang="en">  
  <head>
    <link rel="stylesheet" href="application.css" type="text/css" />
    <title>CLARE'S CLASHING HASH PAGE</title>
  </head>

  <body>
    <div>
      <h1>CLASHING FOLLOWERS</h1>
    
      <p>WHO HAS MOAR?!!</p>

      <!-- INPUT STUFF -->
      <form action="/twitter" method="post">
        <input name="user1" type="text" placeholder="first @user" autofocus>
        <input name="user2" tyepe="text" placeholder="second @user">
        <input type="submit" >
      </form>
      <!-- END INPUT STUFF -->
    </div>

    <div>
      <h1>CLASHING HASHES</h1>
    
      <p>Has been cancellled. Sorry.</p>

      <!-- INPUT STUFF -->
      <!-- <form action="/twitter" method="post">
        <input name="tag1" type="text" placeholder="Hashtag #1!">
        <input name="tag2" tyepe="text" placeholder="Hashtag #2!">
        <input type="submit" >
      </form> -->
      <!-- END INPUT STUFF -->
    </div>
  </body>
<html>