<html>
<head>
  <title></title>
</head>
<body>
  <div>
      <h1>You Did A Thing!</h1>
    
      <p>Your two users were '<span class="user"><%= @user1.login %></span>' and '<span class="user"><%= @user2.login %></span>'.</p>
    </div>

    <div>
      <h3>And the winner is...</h3>
      <p><%= @result %></p>
    </div>
</body>
</html>