<!DOCTYPE html>  
<html lang="en">  
  <head>
    <link rel="stylesheet" href="application.css" type="text/css" />
    <title>FORM ==> SUBMITTED!</title>
  </head>

  <body>
    <div>
      <h1>You Did A Thing!</h1>
    
      <p>Your two tags were '<span class="tag"><%= @tag1 %></span>' and '<span class="tag"><%= @tag2 %></span>'.</p>
    </div>

    <div>
      <h3>And the winner is...</h3>
      <p>[PLACEHOLDER]</p>
    </div>
  </body>
<html>