@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

body {
  background-color: #80D4DF;
}

h1 {
  font-family: PT Mono;
}

p {
  font-family: Lato;
}

label {
  font-family: Lato;
}
