@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);

body {
  background-color: #AACCDD;
  font-family: Lato, serif
}

div {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

h1 {
  font-family: PT Mono, serif;
  color: #3D4A4C;
}

span.tag {
  background-color: #79E4F2;
}